{% extends "head/header.html" %}

{% block content %}
  {% load contactme %}
  <div class="container-fluid title">
	 <div class="row">
		<div class="col-md-12 text-center">
    		<h1>Send Us A Smoke Signal</h1>
		</div>
	</div>
</div>

<section id="contactUs">
	<div class="container">
    	 <div class="col-md-1 text-left"></div>
        <div class="col-md-5 text-left">{% render_contact_form %}</div>
		<div class="col-md-5 text-center">
			<div class="map">
				<iframe class="google_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3229.441301494796!2d-83.9022716847335!3d35.96063498013004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885c17a34bbda5a1%3A0x34e3d4cb4b97efc7!2s1317+Island+Home+Ave%2C+Knoxville%2C+TN+37920!5e0!3m2!1sen!2sus!4v1457666699020" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-1 text-left"></div>
		</div>
	</div>
</section>



{% endblock %}
