{% for item in item %}
<div class="col-xs-6 col-md-3 text-center">
	<a href="/access/{{item.id}}">
		<div class="cards">
			<img src='http://104.236.215.11{{ item.logo.url }}' alt='Sample Image'>
			<h4>{{ item.name }}</h4>
			<ul class="list-inline">
				<li><p>Sold By&nbsp;&nbsp;{{item.merchant }}</p></li>
			</ul>
		</div>
		<ul class="list-inline inlineprice">
			<li class="inlineprice1"><del><h5>${{item.price }}</h5></del></li>
			<li class="inlineprice2"><h5><strong>PRICE&nbsp; ${{item.discount }}</strong></h5></li>
		</ul>
	</a>
</div>
{% endfor %}

